.myContainer{
    background-image: url('../images/fondohome.png');
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 5%;

}

.myCardHome{
    background-color: #004456;
    color: white;

}

@media screen and (max-width: 908px) {
    .myCardHome{
        margin: 40px;    }
    
}

